apiVersion: apps/v1
kind: Deployment
metadata:
  name: fedeployment
  namespace: tmb13be
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: prashantdey/travelmemory:be
          ports:
            - containerPort: 3001
          env:
          - name: PORT
            value: "3001"
          - name: MONGO_URI
            valueFrom:
              secretKeyRef:
                name: frontend-secret
                key: MONGO_URI